<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>Data</servlet-name>
    <servlet-class>servlet.action.Data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Data</servlet-name>
    <url-pattern>/api/Data</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>login</servlet-name>
  <servlet-class>servlet.action.login</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>login</servlet-name>
  <url-pattern>/servlet/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>term</servlet-name>
    <servlet-class>servlet.action.term</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>term</servlet-name>
    <url-pattern>/servlet/term</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>buildExcel</servlet-name>
  <servlet-class>servlet.action.buildExcel</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>buildExcel</servlet-name>
    <url-pattern>/servlet/buildExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>download</servlet-name>
    <servlet-class>servlet.action.download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/servlet/download</url-pattern>
  </servlet-mapping>
</web-app>