html,body,div,ul,li,span,img,a,button,input,select,table,td,tr,th,p,h1,h2,h3,h4,h5,h6,header,section {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

input,button,select,a {
    outline: 0;
    border: 0;
}
.dn{
    display: none;
}
.db{
    display: block;
}

.clear {
    clear: both;
}

.tr-bg{
    background-color: #f5f5f5;
}
.li-bg{
    background-color: #ededed;
}
.click-input{
    color:#67b9f7!important;
    background: url(../img/icon_select_more_locked.png) no-repeat!important;
}


html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #ebebeb;
}
#wrap{
    position: relative;
    min-width: 1120px;
    overflow: hidden;
}
.head{
    position: relative;
    width: 100%;
    min-width: 1110px;
    height: 60px;
    line-height: 60px;
    font-family: "微软雅黑";
    background-color: #46Cdf3;
}
.title{
    /* display: inline-block; */
    font-size: 26px;
    color: #fff;
    text-align: center;
    background-color: gray;
}
#Return{
    position: absolute;
    top: 0;
    left: 1%;
    width: 90px;
    margin-right: 50px;
    font-size: 24px;
    color: #fff;
    text-indent: 30px;
    text-decoration: underline;
    background: url(../img/return_login_icon.png) no-repeat left center;
    /* border: 1px solid red; */
}
.center{
    position: relative;
    width: 97%;
    /*height: 700px;*/
    padding-bottom: 60px;
    margin: 40px auto 0 auto;
    background-color: white;
    min-width: 1400px;
}
.centerHr{
    color: darkgray;
    margin-left: 15px;
    padding-top: 10px;
    padding-top: 10px;
}
.Hrlei{
    color: black;
}
.imgClick{
    display: inline;
    vertical-align: 1px;
    cursor: pointer;
    /*padding-top: 1px;*/
}
.TeacherKinds{
    display: inline;
    cursor: pointer;
}
.ChooseKinds{
    /*width: ;*/
    padding-top: 20px;
    margin-left: 119px;
    /*border: 1px solid red;*/
}
#CousrseMain{
    margin-top: 30px;
    margin-left: 116px;
    /*border: 1px solid grey;*/
    /*display: none;*/
}
#CousrseMain{
    display: none;
 }
#GuideClassPeople{
    display: none;
}
.theory{
    display: table;
    width: 98%;
    padding: 10px 10px;
    /*border: 1px solid red;*/
}
.ChooseTurn{
    position: absolute;
    left: 19px;
    top: 13px;
    display: none;
}
.theory p{
    display: inline-block;
    font-size: 22px;
}
.ClassCourse{
    /*display: inline-block;*/
    position: relative;
    width: 350px;
    /*margin: 0 auto;*/
    margin-left: 120px;
    padding-top: 20px;
    /*border: 1px solid black;*/
}
.CousrseClick{
    display: inline;
    vertical-align: -2px;
    padding-left: 15px;
}
#cousrese,#ChooseData{
    width: 242px;
    height: 30px;
    color: gray;
    line-height: 30px;
    font-size: 19px;
    text-align: center;
    padding: 2px;
    margin-left: 94px;
    border: 2px solid grey;
    /*border-top-right-radius: 5px;*/
    /*border-top-left-radius: 5px;*/
    border-radius: 5px;
    cursor: pointer;
}
#close,#closeData{
    position: absolute;
    top: 58px;
    left: 316px;
    cursor: pointer;
}
#open,#openData{
    position: absolute;
    top:58px;
    left: 316px;
    display: none;
    cursor: pointer;
}
#CousrseSingle,#CousrseSingleData{
    width: 242px;
    line-height: 30px;
    font-size: 19px;
    margin-left: 94px;
    text-align: center;
    border: 1px solid black;
    display: none;
}
#CousrseSingle li,#CousrseSingleData li{
    display: block;
    padding: 0;
    padding-left: 2px;
    width: 244px;
    cursor: pointer;
}
#ClassHour,#ClassSocre,#ClassPeople{
    padding: 5px;
    /*width: 400px;*/
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
    /*margin: 0 auto;*/
    /*border: 1px solid red;*/
}
#ClassHour{
  min-width: 412px;
}
.HourCousrese{
    color: gray;
}
#Hour,#Socre,#People{
    /*font-size: 20px;*/
    color: red;
}
#People,#GuidePeople,#GraduationPeople,#GradePracticePeople,#GradeInnovationPeople,#GradePracticePeopleScore,#GuidePeopleScore,#GraduationPeopleScore{
    display: inline-block;
    vertical-align: 3px;
    padding-left: 5px;
    width: 50px;
    height: 22px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    color: red;
}
#GuidePeopleScore{
    text-align: center;
}
#PracticePeople div,#GuideClassPeople div,#GuideGraduationPeople div{
    margin-bottom: 14px;
}
#GuideClassPeople,#GuideGraduationPeople,#PracticePeople,#ExperimentOut,#InnovationPeople{
    position: relative;
    /*width: 420px;*/
    padding: 5px;
    margin-left: 116px;
    margin-top: 30px;
    font-size: 20px;
    /*border: 1px solid red;*/
}
#GuideClassPeople{
    min-width: 261px;
}
#GuideGraduationPeople{
    min-width: 354px;
    display: none;
}
#ExperimentOut{
    min-width: 294px;
 }
.ExperimentBout{
    position: relative;
    width: 85px;
    height: 30px;
    /*border: 1px solid red;*/
}
.EnglishInput{
    position: relative;
    display: inline-block;
}
#English,#EnglishTrue,#EnglishB,#Experiment{
    width: 80px;
    height: 25px;
    line-height: 25px;
    color: grey;
    font-size: 16px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
#ChooseEnglish{
    position: absolute;
    /*text-align: center;*/
    z-index: 2;
    left: 0px;;
    top: 29px;
    width: 80px;
    border: 2px solid gray;
    background-color: ghostwhite;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}
#ChooseEnglish li,#ChooseB li,#ExperimentB li{
    text-align: center;
    width: 80px;
    display: block;
    cursor: pointer;
    padding: 0;
}
#ClassEnglishTrue{
    position: relative;
    width: 264px;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
    /*margin: 0 auto;*/
    /*border: 1px solid red;*/
    display: none;
}
#EnglishTrue{
    width: 70px;
}
#ChooseEnglishTrue{
    position: absolute;
    z-index: 2;
    left: 194px;;
    top: 34px;
    width: 70px;
    border: 1px solid gray;
    background-color: ghostwhite;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*display: none;*/

}
#ChooseEnglishTrue li{
    text-align: center;
    width: 70px;
    display: block;
    cursor: pointer;
    padding: 0px;
}
#ClassB,#ClassEnglish{
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
    /*border: 1px solid red;*/
 }
#ClassB{
    min-width: 477px;
}
.ClassBInput{
    position: relative;
    display: inline-block;
}
#ChooseB{
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 30px;;
    border: 2px solid gray;
    background-color: ghostwhite;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}
#GuidName{
    color: gray;
}
.Graduation,.GuidePractice{
    margin-top: 10px;
    /*border: 1px solid black;*/
}
#ExperimentB{
    position: absolute;
    z-index: 2;
    /*left: 291px;*/
    background-color: ghostwhite;
    display: none;
    border: 2px solid gray;
}
.GuideInnovation{
    margin-top: 70px;
    /*border: 1px solid black;*/
}
.TeacheOut,.twoMain,.Graduation,.GuidePractice,.GuideExperiment,.GuideInnovation{
    position: relative;
    display: inline-block;
    /*width: 200px;*/
    font-size: 26px;
    padding-left: 16px;
    margin-left: 81px;
    /*border: 1px solid black;*/
}
.SumValue{
    /*width: 290px;*/
    margin-top: 1%;
    /*margin-left: 6%;*/
    /*border: 1px solid black;*/
}
.SumName{
    font-size: 30px;
    vertical-align: -2px;
}
.SumValue #submit,.SumValue #GuideSubmit,.SumValue #GraduationSubmit,.SumValue #SumSubmit{
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #ededed;
    text-align: center;
    background-color:darkgray;
    border-radius: 5px;
    cursor: pointer;
 }
.SumValue #SumSubmit{
    margin-left: 80%;
}
#Sum{
    font-size: 35px;
    color: red;
    vertical-align: -2px;
}
.number{
    font-size: 20px;
    color: black;
}
#formulaOut{
    margin-top: 30px;
    margin-left: 116px;
    /*border: 1px solid black;*/
    display: none;
}
#formula{
    margin-left: 20px;
    /*border: 1px solid red;*/
}
#formula li{
    font-size: 18px;
    margin: 5px 0;
}

/*表格*/
.tableOut{
    position: relative;
    width: 90%;
    z-index: 1;
    margin: 0 auto;
    /*border: 1px solid red;*/
}
#list{
    table-layout:fixed;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    border-right: 1px solid #e4e7ed;
    border-left: 1px solid #e4e7ed;
}
.theadImg{
    position:absolute;
    top:0;
    z-index: -1;
    width: 99.9%;
    height: 48px;
    padding-left: 1px;
}
.listThread tr{
    width: 100%;
    /*text-align: center;*/
    /*border: 1px solid black;*/
}
.listThread tr th{
    /*line-height:48px;*/
    height: 48px;
    font-family: "Microsoft YaHei ";
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    /*border: 1px solid black;*/
}
#listTbody tr td{
    /*position: relative;*/
    font-family: "Microsoft YaHei Light ";
    font-size: 14px;
    color: #909399;
    /*padding: 15px 0;*/
    height:40px;
    text-align: center;
    border-bottom: 1px solid #e4e7ed;
    /*border: 1px solid black;*/
}
h2 {
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
    padding-left: 116px;
}
#GoExel{
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    margin-left: 96px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: bisque;
    cursor: pointer;
}
#NoMessage {
    /*position: relative;*/
    /*z-index: -2;*/
    width: 99.8%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: firebrick;
    font-size: 20px;
    /*display: none;*/
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}